# Editor
.vscode/
.windsurf/
.cursor/

venv/
.venv/
*.db

# python
__pycache__/
*.pyc

# other
ai-hub/.env.test
ai-hub/.env.bak
ai-pc-spoke/config/.env.bak
*/config/settings.yaml
*/config/mcp_config.json
*.bak